{% extends 'resumeHome/navbar.html'%}

{% block title %}
Blog
{%endblock%}


{% block body %}

<div class="container">
<div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From the Firehose
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title">How important is LinkedIn while job hunting</h2>
        <p class="blog-post-meta">January 3, 2021 by <a href="#">Mark</a></p>

        <p>Many recruiters or hiring managers, their first step after receiving a resume or job search application is
             to look up the candidate on LinkedIn.</p>
         <br>
        <p>Most companies have now started to focus more on online applications, and 
            it is more common than ever to see a LinkedIn section near the resume upload tool,
             where you can upload your LinkedIn profile. If it is well organized, this is a huge advantage 
             since potential hiring managers will not only be viewing your resume but your LinkedIn profile a
             s well.</p>
<hr>
        <br>
        <p>
            At least 10 lakh jobs have been offered through a jobs portal launched 10 days ago by the Delhi government, employment minister Gopal Rai said at a press briefing on Friday. Hailing this as a new “Delhi model” for success, he also said over 6,000 
            companies have advertised on the web portal and nine lakh vacancies are still open for applying.
        </p>     
<br>
        <hr>
        <p>Our employment minister said “ Following the coronavirus lockdown, a large number of people faced unemployment in Delhi.
             Companies had a shortage of workers after many of them left Delhi in the lockdown.” </p>
             <br>
             <p>
                “Considering this, Chief Minister Arvind Kejriwal launched this job portal — the Rozgar Bazar. It has created a new model to get the economy back on track and offer employment to people,” he added.


 
                The minister said that the web job portal had received 22 lakh job advertisements since its launch and the government had created a task force to verify them.
             </p>

             <hr>
             <p>
                <strong>LinkedIn search is a very easy, new way to maintain a lot of connections that may be helpful in your career</strong>>. With just a quick message you can connect with all your professional contacts.

                If you’re in a job search, you can let recruiters and your network on LinkedIn know you’re open to new job opportunities. If you are particular about your job type and the preferable location, LinkedIn will 
                help your profile show up in search results when recruiters look for suitable job candidates.
             </p>

             <br>
             <strong>90% of employers are researching and checking the LinkedIn profiles of candidates who apply to their openings. If you are actively job searching, but you're not engaging on the LinkedIn search you are missing out on essential opportunities!</strong>


With so many job search sites out there, you may want to put your resume upon a number of them to get one that you desire for but LinkedIn gives all this in one place. Rather than surfing on various job search sites which might take a lot of your time, it is always suggested to prefer the ways where you can get all the options at one search.

        

      </article>

      
      

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>


        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>


</div>

{%endblock%}