@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
    font-family: tt commons,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-se}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;

}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  font-size:16px;
  display:list-item;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:50%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
.text-justify{
    width: 75%;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
label{
font-size: 1.8rem;
color: #0a4b8c;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  #car1 {
    background-image: url('https://images.template.net/wp-content/uploads/2016/04/20102918/Professional-Resume.jpg');
  }

  @media only screen and (min-width:188px){

    #first-img {
      margin-left:20px;
      margin-top:20px
    }

  }

  @media only screen and (min-width: 320px){

    #first-img {
      margin-left:30px;
       margin-top:30px
    }
    #resume1img{
      width:300px;
    }
    #resume2img{
      width:300px;
    }
    #logo{
          float:right;
          width:50px;
          heigth:50px;
          margin-right:5px;
          margin-top:5px;
    }
  }
  @media only screen and (min-width: 375px){

    #first-img {
      margin-left:40px;
      margin-top:30px
    }
    #resume1img{
      width:330px;
    }
    #resume2img{
      width:330px;
    }
    #logo{
          float:right;
          width:60px;
          heigth:60px;
          margin-right:5px;
          margin-top:5px;
    }
  }
  @media only screen and (min-width: 425px){

    #first-img {
      margin-left:60px;
      margin-top:40px
    }
    #logo{
          float:right;
          width:70px;
          heigth:70px;
          margin-right:5px;
          margin-top:5px;
    }

  }
  @media only screen and (min-width: 768px){

    #first-img {
      margin-left:90px;
      margin-top:50px
    }
    #logo{
          float:right;
          width:80px;
          heigth:80px;
          margin-right:5px;
          margin-top:5px;
    }
  }
  @media only screen and (min-width: 1024px){

    #first-img {
      margin-left:120px;
      margin-top:60px
    }
    #logo{
          float:right;
          width:90px;
          heigth:90px;
          margin-right:5px;
          margin-top:5px;
    }

  }
  @media only screen and (min-width: 1440px){

    #first-img {
      margin-left:200px;
      margin-top:70px
    }

    #logo{
          float:right;
          width:100px;
          heigth:100px;
          margin-right:5px;
          margin-top:5px;
    }

  }
  @media only screen and (min-width: 2560px){

    #first-img {
      margin-left:300px;
      margin-top:80px
    }
    #logo{
          float:right;
          width:200px;
          heigth:20px;
          margin-right:5px;
          margin-top:5px;
    }

  }

  h2{
  color:#008B8B;
  }


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




